{% extends 'base.twig' %}

{% block title %}Register form{% endblock %}

{% block content %}
    <section class="form-section">
    <form action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">
        <div class="input-wrapper">
            <p>Password: </p>
            <input type="password"
               name="password"
               value="{% if formData.password %}{{ formData.password }}{% endif %}"
               required>  
        </div>
        <div class="input-wrapper">
            <p>New Password: </p>
            <input type="password"
                   name="password_new"
                   value="{% if formData.password_new %}{{ formData.password_new }}{% endif %}"
                   required>
        </div>
        <div class="input-wrapper">
        <p> Password Repeated: </p>
        <input type="password"
               name="password_repeated"
               value="{% if formData.password_repeated %}{{ formData.password_repeated }}{% endif %}"
               required>    
        </div>
        <input class="submit" type="submit" value="Change Password">
        <p>
         <a href='/profile'> Back to Profile </a>
        </p>

        {% if formErrors.password %}
            <p style="color: red;">{{ formErrors.password }}</p>
        {% endif %}

        {% if formErrors.password_repeated %}
            <p style="color: red;">{{ formErrors.password_repeated }}</p>
        {% endif %}

        {% if formErrors.password_new %}
            <p style="color: red;">{{ formErrors.password_new }}</p>
        {% endif %}

        {% if formErrors.password_ok %}
            <p style="color: green;">{{ formErrors.password_ok }}</p>
        {% endif %}
    </form>
    </section>
{% endblock %}